@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body::-webkit-scrollbar {
  width: 14px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #01574e;
}

.bg {
  background-image: url("../assets/bg.svg");
}
